* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: white;
}


/* Formulario */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.3em;
  background-color: #171717;
  border-radius: 25px;
  transition: .4s ease-in-out;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: .6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
  
}

.input-field {
  background-color: #171717;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
  font-size: 0.7em;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5em;
}

.button1 {
  padding: 0.5em;
  width: 50%;
  height:50%;
  border-radius: 5px;
  margin-right: 2em;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5em;
  width: 50%;
  height:50%;
  border-radius: 5px;
  margin-left: 3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  width: 90%;
  height:20%;
  margin-left: 5%;;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: black;
  color: white;
}

/* Card */ 
.card1 {
  padding-top: 10%;
  width: 80%;
  height: 490px;
  border-radius: 30px;
  padding-right: 20px;
  background: #212121;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
  transition: .4s ease-in-out;
  position: relative;
 }
 
 .card1:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

/* clima */ 
.card {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 80%;
  height: 490px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 15px 15px 30px rgb(25, 25, 25),
              -15px -15px 30px rgb(60, 60, 60);
  background-color: #171717;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  transition: .4s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  border: 1px solid black;
}

/* Landscape section */
.landscape-section {
  position: relative;
  width: 125%;
  height: 57%;
  overflow: hidden;
  border-radius: 10%;
}

.landscape-section * {
  position: absolute;
}

.sky {
  width: 100%;
  height: 100%;
  background: rgb(175, 243, 230);
  background: linear-gradient(
    0deg,
    rgba(175, 243, 230, 1) 0%,
    rgba(65, 131, 170, 1) 100%
  );
}


.ocean {
  overflow: hidden;
  bottom: 0;
  width: 100%;
  height: 28%;
  background: rgb(140, 232, 225);
  background: linear-gradient(
    0deg,
    rgba(140, 232, 225, 1) 0%,
    rgba(141, 233, 221, 1) 100%
  );
}

.reflection {
  position: absolute;
  background-color: white;
  opacity: 0.5;
  z-index: 1;
}

.reflection:nth-child(1) {
  width: 40px;
  height: 10px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 20%);
  top: 5%;
  left: 32%;
}

.reflection:nth-child(2) {
  width: 80px;
  height: 15px;
  clip-path: polygon(0% 0%, 100% 0%, 60% 20%, 40% 20%);
  top: 15%;
  left: 39%;
}

.reflection:nth-child(3) {
  width: 60px;
  height: 2px;
  clip-path: polygon(0% 50%, 40% 0%, 60% 0%, 100% 50%, 60% 100%, 40% 100%);
  top: 27%;
  right: 15%;
}

.reflection:nth-child(4) {
  width: 70px;
  height: 2px;
  clip-path: polygon(0% 50%, 40% 0%, 60% 0%, 100% 50%, 60% 100%, 40% 100%);
  top: 37%;
  right: 28%;
}
.reflection:nth-child(5) {
  width: 70px;
  height: 3px;
  clip-path: polygon(0% 50%, 40% 0%, 60% 0%, 100% 50%, 60% 100%, 40% 100%);
  top: 46%;
  right: 8%;
}

.hill-1 {
  right: -25%;
  bottom: 20%;
  width: 150px;
  height: 40px;
  border-radius: 50%;
  background-color: #4bcacc;
}

.shadow-hill-1 {
  right: -25%;
  top: -30%;
  width: 150px;
  height: 40px;
  border-radius: 50%;
  background-color: #88d8d7;
  opacity: 1;
}

.hill-2 {
  right: -36%;
  bottom: 10%;
  width: 150px;
  height: 80px;
  border-radius: 50%;
  background-color: #3f85a8;
}

.shadow-hill-2 {
  right: -36%;
  top: -65%;
  width: 150px;
  height: 80px;
  border-radius: 50%;
  background-color: #73c8cf;
  opacity: 1;
}

.hill-3 {
  left: -100%;
  bottom: -30%;
  width: 350px;
  height: 150px;
  border-radius: 50%;
  background-color: #47567f;
  z-index: 3;
}

.tree-1 {
  bottom: 19%;
  left: 3%;
  width: 50px;
  height: 70px;
  z-index: 3;
}

.tree-2 {
  bottom: 12%;
  left: 25%;
  width: 50px;
  height: 70px;
  z-index: 3;
}

.hill-4 {
  right: -100%;
  bottom: -40%;
  width: 350px;
  height: 150px;
  border-radius: 50%;
  background-color: #4a4973;
  z-index: 3;
}

.tree-3 {
  bottom: 10%;
  right: 1%;
  width: 65px;
  height: 80px;
  z-index: 3;
}

.filter {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 40%
  );
  z-index: 5;
  opacity: 0.2;
}

/* Content section */
.content-section {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0%;
  width: 100%;
  padding-top: 30px;
  color: white;
  z-index: 10;
}



.weather-info .left-side:not(.icon) {
  width: 20%;
  font-size: 11pt;
  font-weight: 600;
  align-self: baseline;
  
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 40px;
}

.weather-info .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.weather-info .right-side p:nth-child(2) {
  font-size: 9pt;
  margin: 0;
  padding: 0;
}

.weather-info .location span {
  font-size: 11pt;
  font-weight: 700;
  text-transform: uppercase;
}

.location {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  margin: 0;
}

.location svg {
  width: 14px;
  height: auto;
}

.temperature {
  font-size: 20pt;
  font-weight: 700;
  line-height: 30px;
}
.temperature2 {
  font-size: 10pt;
  font-weight: 300;
  line-height: 1px;
}
.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  padding: 10px 25px;
}

.forecast > div {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 7%;
  align-items: center;
  justify-content: space-between;
  color: lightslategray;
  font-size: 13pt;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: rgb(233, 233, 233);
  border-radius: 1px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .radio-input {
      flex-direction: column;
      gap: 20px;
  }

  .label {
      margin-bottom: 10px;
  }

  .text {
      font-size: 14px;
  }

  .toggleSwitch {
      width: 60px;
      height: 60px;
  }

  .speaker,
  .mute-speaker {
      width: 40px;
      height: 40px;
  }
}

@media (max-width: 480px) {
  .radio-input {
      flex-direction: column;
      gap: 15px;
  }

  .label {
      margin-bottom: 8px;
  }

  .text {
      font-size: 12px;
  }

  .toggleSwitch {
      width: 50px;
      height: 50px;
  }

  .speaker,
  .mute-speaker {
      width: 30px;
      height: 30px;
  }
}

/* Contenedor con scroll que tiene la barra de desplazamiento */
.scrollable-content {
  max-height: 430px; /* Altura limitada para que la barra de scroll sea más pequeña */
  overflow-y: auto; /* Barra de desplazamiento solo en el eje vertical */
  background: inherit; /* Hereda el fondo de .card1 */
  width: 280px;
}

/* Personalización de la barra de desplazamiento */
.scrollable-content::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #888; /* Color de la barra */
  border-radius: 10px; /* Redondeo */
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente para la pista */
}


/* Estilo del dropdown */
#myDropdown {
  display: none; /* Ocultar inicialmente */
  position: absolute;
  top: 40%; /* Coloca el dropdown justo debajo del input */
  left: 15%;
  background-color: #424242;
  min-width: 15%; /* Asegura que el dropdown tenga el mismo ancho que el input */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  max-height: 300px; /* Establece un alto máximo */
  overflow-y: auto; /* Habilita el scroll vertical */
}

/* Estilo de las opciones del dropdown */
#myDropdown a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%; /* Las opciones ocupan todo el ancho del contenedor */
  box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
  top: 50%;
}

/* Estilo cuando el cursor pasa por encima de las opciones */
#myDropdown a:hover {
  background-color: #b3b0b0; /* Cambiar color en hover */
}



/* play and pause */

.radio-input {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: black;
  padding: 10px;
  margin-top: 0.1%;
  margin-bottom: 3%;
  border-radius: 10px;
  width: 25%;
  z-index: -1;
}

.radio-input input {
  display: none;
}

.radio-input .label {
  width: 90px;
  height: 60px;
  background: linear-gradient(to bottom, #333333, rgb(36, 35, 35));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  transition: all 0.1s linear;
  border-top: 1px solid #4e4d4d;
  background-color: #333333;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0.2);
}

.label:has(input[type="radio"]:checked) {
  box-shadow: 0px 17px 5px 1px rgba(0, 0, 0, 0);
  background: linear-gradient(to bottom, #1d1d1d, #1d1d1d);
  border-top: none;
}

.label:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.label:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 103%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    to bottom,
    transparent 10%,
    transparent,
    transparent 90%
  );
  transition: all 0.1s linear;
  z-index: -1;
}

.label:has(input[type="radio"]:checked)::before {
  background: linear-gradient(
    to bottom,
    transparent 10%,
    #cae2fd63,
    transparent 90%
  );
}

.label .text {
  color: rgb(130, 168, 218);
  font-size: 15px;
  line-height: 12px;
  padding: 0px;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.1s linear;
  text-shadow:
    -1px -1px 1px rgb(224, 224, 224, 0.1),
    0px 2px 3px rgb(0, 0, 0, 0.3);
}

.label input[type="radio"]:checked + .text {
  color: rgb(202, 226, 253);
  text-shadow: 0px 0px 12px #cae2fd;
}



/* mute speaker */
.toggleSwitch {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  border-radius: 50%;
  cursor: pointer;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  
}


#checkboxInput {
  display: none;
}

.bell {
  width: 18px;
}

.bell path {
  fill: white;
}

.speaker {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition-duration: .3s;
}

.speaker svg {
  width: 30px;
 
}

.mute-speaker {
  
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 3;
  transition-duration: .3s;
}

.mute-speaker svg {
  width: 30px;
}

#checkboxInput:checked +.toggleSwitch .speaker {
  opacity: 0;
  transition-duration: .3s;
}

#checkboxInput:checked +.toggleSwitch .mute-speaker {
  opacity: 1;
  transition-duration: .3s;
}

#checkboxInput:active + .toggleSwitch {
  transform: scale(0.7);
}

#checkboxInput:hover + .toggleSwitch {
  background-color: rgb(61, 61, 61);
}